# node-waf configuration
.lock-wscript

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# Bower
bower_components

example
config
karma.conf.js
tslint.json
tsconfig.json
lib

.gitignore

# IntelliJ
.idea
*.iml
